page-addcourses {
 
  .login-content {
      
      background: url('../assets/img/b.jpg');
     
      margin-bottom: 0;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: #FF1744;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 20px !important;
         padding-left: 20px !important;
         padding-top:0px; 
         font-size: 1.1em;
         margin-bottom: 10px;
         border: 1px solid #9FA8DA;
         border-bottom: 0px !important;
         box-shadow: none !important;
          font-family: Neoteric;
     }
 
     .signup-col {
       margin: 0px 5px 0px 5px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #00E676;
       border-radius: 50px !important;
       
       font-size: 0.8em;
       box-shadow: 2px 2px 2px  #888888;
       font-family: Neoteric;
     }
 
     .register-btn {
       background: #F44336;
       font-size: 0.8em;
        border-radius: 50px !important;
        box-shadow: 2px 2px 2px  #888888;
        font-family: Neoteric;
       
     }

     

          .input {
    padding: 15px 0px;
}

     @font-face {
    font-family: 'Neoteric'; /*a name to be used later*/
    src: url('http://www.dafont.com/neoteric.font'); /*URL to font*/
}
  }
 
}
