<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      <ion-icon md="md-book"></ion-icon> Streem
    </ion-title>

    <ion-buttons start clear (click)="logUserOut()" >
        <button >
            <ion-icon name="person"></ion-icon>
            Logout
        </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
    

  <h3>Select yout A/L streem</h3>

  <ion-list >
    <ion-item>
        <ion-label>A/L Streem :</ion-label>
        <ion-select [(ngModel)]="streem" name="streem">
            <ion-option value="bio">Bio Science</ion-option>
            <ion-option checked="true" value="maths">Combine Maths</ion-option>
            <ion-option value="commerce">Commerce</ion-option>
            <ion-option value="arts">Arts</ion-option>
        </ion-select>
    </ion-item>
  </ion-list>

<h3>Enter your A/L results</h3>
  <ion-list *ngIf="streem=='bio'">
      <ion-item>
          <ion-label fixed>Biology :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>Chemistry :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>Physics :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
  </ion-list>

  <ion-list *ngIf="streem=='maths'">
      <ion-item>
          <ion-label fixed>Maths :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>Chemistry :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>Physics :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
  </ion-list>

  <ion-list *ngIf="streem=='commerce'">
      <ion-item>
          <ion-label fixed>Accounting :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>Bussines study :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed>Economics :</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
  </ion-list>

  <ion-list *ngIf="streem=='arts'">
      <ion-item>
          <ion-label fixed>Geaography :</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>Economics :</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>Political Science :</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>Home Science :</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>Art :</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
</ion-list>

<ion-item>
    <button ion-button color="secondary" full (click)="olResultPage()">Submit</button>
</ion-item> 


</ion-content>
