<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      Sign Up
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Create your personal account</h3>
  
    <ion-list>

        <ion-item>
            <ion-label fixed>Email :</ion-label>
            <ion-input name="email" type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>Username :</ion-label>
            <ion-input name="username" type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>Password :</ion-label>
            <ion-input name="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >Confirm Password :</ion-label>
            <ion-input name="confirmpassword" type="password"></ion-input>
        </ion-item>

        <ion-list radio-group [(ngModel)]="content">
            <ion-list-header>
                User Type :
            </ion-list-header>

            <ion-item>
                <ion-label>Student</ion-label>
                <ion-radio name="student" checked="false" value="student"></ion-radio>
            </ion-item>

            <ion-item >
                <ion-label>Institue</ion-label>
                <ion-radio name="institue" value="institute"></ion-radio>
            </ion-item>
            <ion-item *ngIf="content=='institute'" >
                <ion-label >Institute Name :</ion-label>
                <ion-input name="institutename" type="text" value=""></ion-input>
            </ion-item>
                        
            <ion-item>
                    <button ion-button color="secondary" full>Sign Up</button>
            </ion-item> 
        </ion-list>
        
        <!--<h1 *ngIf="content=='student'"> Arham </h1>-->

    </ion-list>

</ion-content>
