<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      <i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Create your personal account</h3>
  
  <form #form="ngForm" (ngSubmit)="signup(form.value)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" name="name" ngModel required #name="ngModel"
                   [class.invalid]="name.errors && name.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="name.errors?.required && name.dirty">
        Name is required
      </ion-item>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" name="email" ngModel required email #email="ngModel"
                   [class.invalid]="email.errors && email.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="email.errors?.required && email.dirty">
        Email is required
      </ion-item>
      <ion-item class="error-message" *ngIf="email.errors?.email && email.dirty">
        Email is not valid
      </ion-item>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" name="username" ngModel required #username="ngModel"
                   [class.invalid]="username.errors && username.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.required && username.dirty">
        Username is required
      </ion-item>
      <ion-item class="error-message" *ngIf="username.errors?.usernameTaken">
        Username already taken
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" name="password" ngModel required #password="ngModel"
                   [class.invalid]="password.errors && password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="password.errors?.required && password.dirty">
        Password is required
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!form.valid">Sign up</button>
      </div>

    </ion-list>
  </form>



    <!--<ion-list>

        <ion-item>
            <ion-label fixed>Email :</ion-label>
            <ion-input type="text" [(ngModel)]="emailField" name="email" ></ion-input>
        </ion-item>

        <ion-item> 

            <ion-label fixed>Username :</ion-label>
            <ion-input name="username" type="text" [(ngModel)]="usernameField" name="username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>Password :</ion-label>
            <ion-input type="password" [(ngModel)]="passwordField" name="password" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label >Confirm Password :</ion-label>
            <ion-input name="confirmpassword" type="password"></ion-input>
        </ion-item>

        <ion-list radio-group [(ngModel)]="userType">
            <ion-list-header>
                User Type :
            </ion-list-header>

            <ion-item>
                <ion-label>Student</ion-label>
                <ion-radio name="student" checked="true" value="student"></ion-radio>
            </ion-item>

            <ion-item >
                <ion-label>Institue</ion-label>
                <ion-radio name="institue" value="institute"></ion-radio>
            </ion-item>
            <ion-item *ngIf="userType=='institute'" >
                <ion-label >Institute Name :</ion-label>
                <ion-input name="institutename" type="text" value=""></ion-input>
            </ion-item>
                        
            <ion-item>
                    <button ion-button color="secondary" full (click)="signUserUp()">Sign Up</button>
            </ion-item> 
        </ion-list>
        
        
    </ion-list>-->

</ion-content>
